.kiszeczka-big-post-block {
    margin: 60px 0 ;
}
.top-block {
    display: flex;
    display: -webkit-flex;
    height: 600px;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    background-position: center;
    background-size: cover;
    background-repeat: none;
}
.top-block > .kiszeczka-big-post-block__wrapper {
    background-color: rgba(255, 255, 255, 0.5);
    height: 60%;
    width: 50%;
    margin-bottom: 3%;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
}

.kiszeczka-big-post-block__title {
    margin-bottom: 20px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    text-transform: uppercase;
    font-size: 25px;
}
.kiszeczka-big-post-block__content {
    overflow: hidden;
    height: 140px;
    font-style: italic;
    text-align: center;
}
.kiszeczka-big-post-block__btn {
    /* display: inline; */
    padding: 20px;
    border: 2px solid black;
}

.bottom-block {
    color: #5D431F;
}