@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('header.css');
@import url('home-posts.css');

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
    font-family: 'Raleway', sans-serif;
}